header {
    width: 100%;
    background-color: #FFF4E7;
}

.header-container {
    width: 80%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 20px 0;
    align-items: center;
}

.navbar-section nav ul {
    display: flex;
    column-gap: 70px;
}

.navbar-section nav ul {
    list-style-type: none;
}

.navbar-section ul a {
    text-decoration: none;
    color: var(--dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
}

.logo h3 {
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero {
    margin-top: 20px;
    padding: 40px 0;
}

.hero-content {
    text-align: center;
    width: 70%;
    margin: 0px auto 50px auto;
}

.hero-content h2 {
    width: 80%;
    margin-left: 10%;
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-content p {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 20px;
    margin-bottom: 30px;
}

.primary-button {
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
}


.hero-image img{
    width: 100%;
}

.primary-button:hover {
    background-color: #010c39;
    transition: 0.7s;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .navigation {
        flex-direction: column;
        align-items: start;
    }

    .navbar-section nav ul {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 40px;
    }
    .hero-content {
        width: 90%;

    }

    .hero-content h2 {
        font-size: 34px;
        margin-left: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: start;
    }
    .navbar-section nav ul {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 40px;
    }
    .hero-content h2 {
        font-size: 34px;
        margin-left: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-content {
        width: 90%;
        
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .navbar-section nav ul {
        column-gap: 20px;
    }
}